body{
    background-color: antiquewhite;
}

.container{
background-color: rgb(71, 197, 168);
padding: 10px;
margin-top: 10px;
width: 80%;
height: 20%;
}

section{
    background-color: aquamarine;
}

#mostrar{
    background-color: rgb(36, 132, 241);
    color: rgb(255, 255, 255);
}

#limpiar{
    background-color: rgb(36, 132, 241);
        color: rgb(255, 255, 255);
}
#promedio{
    size: 600;
}